body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.w3-main {
    flex: 1;
    min-height: 70vh;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}