html, body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.w3-main {
    flex: 1;
    min-height: 70vh;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
}
html,body,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}
a{
    font-size: medium;
}
h1 {
    padding: 20px;
}

.anekdoodid footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}



